.footer {
  background-color: $bg-color;
  color: white;

  &-container {
    padding: 95px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &-heading {
    font-size: 40px;
  }
  &-item {
    font-size: 25px;
    margin-top: 60px;
  }
}
