html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

label,
button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

@font-face {
  font-family: 'Georgia Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Georgia Regular"), url("../fonts/georgia.woff") format("woff");
}

@font-face {
  font-family: 'Georgia Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Georgia Bold"), url("../fonts/georgiab.woff") format("woff");
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  color: #424242;
  font-size: 20px;
}

.header {
  border: 1px solid #d6d6d6;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85px;
}

.header-auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 35px;
}

.header-signin {
  color: #292929;
}

.header-button {
  padding: 13px 50px;
  color: white;
  background-color: #01996d;
  border-radius: 4px;
}

.header-logo {
  cursor: pointer;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 72px;
}

.menu-link {
  color: #292929;
}

.hero {
  height: 895px;
  background-image: url(../images/BG.png);
  background-size: cover;
}

.hero-container {
  position: relative;
}

.hero-content {
  max-width: 440px;
  position: absolute;
  top: 175px;
}

.hero-heading {
  font-size: 65px;
  font-family: "Georgia Bold";
  color: #01996d;
  line-height: 74px;
  margin-bottom: 30px;
}

.hero-button {
  padding: 20px 50px;
  color: white;
  background-color: #01996d;
  border-radius: 4px;
  display: inline-block;
  margin-top: 40px;
}

.work {
  margin-top: 174px;
  margin-bottom: 50px;
}

.work-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work-img {
  border-radius: 12px;
  margin-top: 60px;
}

.above {
  height: 325px;
}

.above .p {
  font-size: 24px;
}

.above-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.above-heading {
  font-size: 50px;
  font-family: "Georgia Bold";
  color: #01996d;
  line-height: 78px;
  max-width: 584px;
}

.above p {
  max-width: 670px;
}

.below {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 95px;
}

.below-card:nth-child(2) {
  padding-top: 240px;
}

.below-card:last-child {
  padding-top: 30px;
}

.below-card {
  max-width: 390px;
  max-height: 900px;
}

.below-heading {
  font-family: "Georgia Bold";
  font-size: 30px;
  text-align: center;
  margin-bottom: 55px;
  position: relative;
}

.below-number {
  position: absolute;
  bottom: -10px;
  left: 0;
  font-family: "Georgia Regular";
  font-size: 150px;
  line-height: 1;
  color: #01996d;
  opacity: 0.2;
}

.about {
  margin-top: 130px;
  background-color: #245852;
  color: white;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 920px;
}

.about-content {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

.about-heading {
  font-size: 50px;
  font-family: "Georgia Bold";
  margin-bottom: 35px;
  line-height: 78px;
  width: 580px;
}

.about-button {
  padding: 20px 50px;
  background-color: #01996d;
  color: white;
  border-radius: 4px;
  display: inline-block;
  margin-top: 50px;
}

.product-container {
  height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 120px;
  margin-bottom: 170px;
}

.product-img {
  margin-left: 70px;
  -o-object-fit: contain;
     object-fit: contain;
  display: inline-block;
  margin-right: 86px;
}

.product-card {
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  bottom: -25px;
  left: -20px;
}

.product p {
  width: 80%;
}

.product-subheading {
  font-size: 25px;
}

.product-heading {
  font-size: 50px;
  color: #01996d;
  font-family: "Georgia Bold";
  margin-bottom: 50px;
}

.footer {
  background-color: #245852;
  color: white;
}

.footer-container {
  padding: 95px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-heading {
  font-size: 40px;
}

.footer-item {
  font-size: 25px;
  margin-top: 60px;
}
/*# sourceMappingURL=index.css.map */